body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('wakameback.jpg') center/cover no-repeat;
    filter: blur(10px);
}

.wakame {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3rem;
    background-image: linear-gradient(to right, #ff6ac1, #ff00ff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 106, 193, 0.8), 0 0 20px rgba(255, 106, 193, 0.8);
    animation: neonGlow 2s linear infinite alternate;
}

@keyframes neonGlow {
    from {
        filter: hue-rotate(300deg);
    }
    to {
        filter: hue-rotate(420deg);
    }
}

.welcome-container {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #666;
}
